Importing the dependencies:

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [2]:
#importing the models:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

Data Collection and Analysis:

In [3]:
#loading the file into pandas dataframe:
df = pd.read_csv('diabetes.csv')

In [4]:
#printing the first five rows of the dataset:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
#printing the last five rows of the dataset:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
#printing the rows and columns of the dataset:
df.shape

(768, 9)

In [7]:
#printing the number of values in Outcome:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [8]:
#some statistical measure of the dataset:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
#more information about the dataset:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

0 --> Non-Diabetic

1 --> Diabetic

In [10]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [11]:
#separating the data and label:
X = df.drop(columns = 'Outcome', axis = 1)
Y = df['Outcome']

In [12]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [13]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [14]:
scaler = StandardScaler()

In [15]:
scaler.fit(X)

StandardScaler()

In [16]:
standardized_data = scaler.transform(X)

In [17]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [18]:
X = standardized_data
Y = df['Outcome']

In [19]:
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [20]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

##### Model Selection

In [21]:
#list of modelS:
models = [LogisticRegression(max_iter = 1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier(random_state=0)]

In [22]:
def compare_models_cross_validation():
    for model in models:
        cv_score = cross_val_score(model, X, Y, cv = 5)
        mean_accuracy = sum(cv_score)/len(cv_score)
        mean_accuracy = mean_accuracy*100
        mean_accuracy = round(mean_accuracy, 2)
        
        print('Cross Validation accuracies for the', model , '=', cv_score)
        print('Accuracy score of the ',model,  '=', mean_accuracy, '%')
        print('-------------------------------------------------------------------')

In [23]:
compare_models_cross_validation()

Cross Validation accuracies for the LogisticRegression(max_iter=1000) = [0.77272727 0.74675325 0.75324675 0.81699346 0.76470588]
Accuracy score of the  LogisticRegression(max_iter=1000) = 77.09 %
-------------------------------------------------------------------
Cross Validation accuracies for the SVC(kernel='linear') = [0.76623377 0.75974026 0.75974026 0.81699346 0.76470588]
Accuracy score of the  SVC(kernel='linear') = 77.35 %
-------------------------------------------------------------------
Cross Validation accuracies for the KNeighborsClassifier() = [0.72077922 0.73376623 0.71428571 0.77124183 0.7254902 ]
Accuracy score of the  KNeighborsClassifier() = 73.31 %
-------------------------------------------------------------------
Cross Validation accuracies for the RandomForestClassifier(random_state=0) = [0.76623377 0.74025974 0.75974026 0.84313725 0.76470588]
Accuracy score of the  RandomForestClassifier(random_state=0) = 77.48 %
-------------------------------------------------------------------

### Inference: For the Diabetes Disease dataset, Random Forest Classifier has the Highest accuracy value with default hyperparameter values

#### Comparing the models with different Hyperparameter values using GridSearchCV

In [24]:
#list of models
models_list = [LogisticRegression(max_iter = 1000), SVC(), KNeighborsClassifier(), RandomForestClassifier()]

In [25]:
#creating a dictionary that contains the values of hyperparameters for the mentioned models:

model_hyperparameters = {
    'log_reg_hyperparameters': {
        
        'C' : [1, 5, 10, 20]
    },
    
    'svc_hyperparameters': {
        'kernel' : ['linear', 'poly', 'rbf', 'sigmoid'],
        'C' : [1,5,10,20]
    },
    
    'KNN_hyperparameters': {
        'n_neighbors' : [3,5,10]
    },
    
    'random_forest_hyperparameters' : {
        'n_estimators' : [10, 20, 50, 100]
    }
}

In [26]:
type(model_hyperparameters)

dict

In [27]:
print(model_hyperparameters.keys())

dict_keys(['log_reg_hyperparameters', 'svc_hyperparameters', 'KNN_hyperparameters', 'random_forest_hyperparameters'])

In [28]:
model_keys = list(model_hyperparameters.keys())
print(model_keys)

['log_reg_hyperparameters', 'svc_hyperparameters', 'KNN_hyperparameters', 'random_forest_hyperparameters']

In [29]:
model_keys[1]

'svc_hyperparameters'

#### Applying GridSearchCV

In [30]:
def ModelSelection(list_of_models, hyperparameters_dictionary):
    
    result = []
    
    i = 0
    
    for model in list_of_models:
        
        key = model_keys[i]
        params = hyperparameters_dictionary[key]
        
        i += 1
        print(model)
        print(params)
        print('---------------------------------------------')
        
        classifier = GridSearchCV(model, params, cv=5)
        
        #fitting the data to classifier
        classifier.fit(X, Y)
        
        result.append({
            'model_used' : model,
            'highest_score' : classifier.best_score_,
            'best_parameters' : classifier.best_params_
    })
        
    result_dataframe = pd.DataFrame(result, columns = ['model_used', 'highest_score', 'best_parameters'])

    return result_dataframe

In [31]:
ModelSelection(models_list, model_hyperparameters)

LogisticRegression(max_iter=1000)
{'C': [1, 5, 10, 20]}
---------------------------------------------
SVC()
{'kernel': ['linear', 'poly', 'rbf', 'sigmoid'], 'C': [1, 5, 10, 20]}
---------------------------------------------
KNeighborsClassifier()
{'n_neighbors': [3, 5, 10]}
---------------------------------------------
RandomForestClassifier()
{'n_estimators': [10, 20, 50, 100]}
---------------------------------------------

                          model_used  highest_score            best_parameters
0  LogisticRegression(max_iter=1000)       0.770885                   {'C': 1}
1                              SVC()       0.777455  {'C': 5, 'kernel': 'rbf'}
2             KNeighborsClassifier()       0.742254         {'n_neighbors': 3}
3           RandomForestClassifier()       0.766947       {'n_estimators': 50}